@if(user) {
  <mat-card class="user-detail-header">
    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="userMenu"> <mat-icon>more_vert</mat-icon> </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>

    <div class="user-profile">
      <img src="./../../../assets/img/profile1.png" alt="Profile image" />
      <div class="user-info">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <p>{{ user.email }}</p>
        <p>{{ user.birthDay | date:'longDate' }}</p>
      </div>
    </div>
  </mat-card>
  
  <mat-card class="mt-32">
    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="addressMenu"> <mat-icon>more_vert</mat-icon></button>
    <mat-menu #addressMenu="matMenu">
      <button mat-menu-item (click)="editAddress()">Edit</button>
    </mat-menu>

    <mat-card-header>
      <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ user.street }}, {{ user.zipCode }} {{ user.city }}</p>
    </mat-card-content>
  </mat-card>

}

