<mat-card>
  <mat-card-content>
    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
          @for(user of allUser; track user.id) {
            <tr>
              <a [routerLink]="['/user', user.id]">{{ user.firstName }} {{ user.lastName }}</a>
              <td>{{user.email}}</td>
              <td>{{user.city}}</td>
            </tr>
          }
        </tbody>
    </table>
  </mat-card-content>
</mat-card>



<div class="example-button-container">
  <button (click)="openDialog()" mat-fab color="primary " class="add-user-btn" matTooltip="Add new user" > 
    <mat-icon>add</mat-icon>
  </button>
</div>