.mat-drawer-container{
  height: 100vh;

  .sidenav{
    width: 300px;
    .menu-items {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li{
          display: flex;
          align-items: center;
          padding: 0px 16px;
          height: 48px;
          &:hover{
            cursor: pointer;
            background-color: rgba(0,0,0,0.1);
          }
          mat-icon{
            margin-right: 16px;
          }
        }
      }
  }
  .logo-container{
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding: 0 16px;
    min-height: 64px;
    display: flex;
    text-align: center;
    text-align: center;
  }

  .menu-icon{
    cursor: pointer;
  }
}