.dialog-container {
  padding: 24px;
  position: relative;

  mat-progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: 0px;
    width: calc(100% + 24px);
  }
}

button {
  margin-right: 8px;
}

.mr-top {
  margin-top: 5px;
}